.iconBack {
  width: 48px;
  height: 48px;
  background-color: #f8f8fa !important;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
}

.titlePage {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 23px;
  color: #f1cd31;
  margin-top: 10px;
}

.editProfile {
  color: #3f3a3a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.buttonPhoto button {
  background: #e7e7e7;
  border-radius: 15px;
}

.btnPhoto {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #3f3a3a;
}
.buttonCancel button {
  height: 40px;
  border-radius: 15px;
}

.bgTop {
  background-color: #eec302;
  height: 50vh;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.bgBottom {
  background-color: #ffffff;
  height: 50vh;
  margin-top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.imgUser {
  width: 84px;
  height: 84px;
}

.icon {
  color: #eec302;
}

.titleContent {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.link {
  cursor: pointer;
}
